/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

body {
  padding-top: 60px;
  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
  background-color: green;
}

h1{
	font-size: 24px;
}

h2
{
	font-size: 20px;
}

h1,h2,h3,h4
{
	font-weight: bold;
	text-transform: uppercase;
}

/* HEADER MAIN*/
.bg-dark
{
	opacity: 0.90;
}

.nav-link
{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

 .minilogo
{
	max-width: 150px;
	max-height: 100px;
}



@media (min-width: 992px) {
  body {
    padding-top: 90px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

p
{
	text-indent: 10px;
	text-shadow: inherit;
	color: white;
}

.row 
{
	opacity: 0.85;	
	color: black;
}

.card-text
{
	color: black;
}

/*********************************
 *
 * Para la galeria de fotos
 * ******************************* */
.img-pant
{
	max-height: 800px;
	max-width: 600px;
}

/********** FOOTER***********/
.social
{
	max-width: 50px;
	max-height: 50px;
}

.logo2
{
	max-width: 180px;
	max-height: 180px;
}
}

@media (max-width: 768px) 
{
	.img-pant
{
	max-height: 100%;
	max-width: 100%;
}

.social
{
	max-width: 30px;
	max-height: 30px;
}

.logo2
{
	max-width: 140px;
	max-height: 140px;
}
}